#header {
    background-image: url(../images/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 100vh;
    position: relative;
    z-index: 1;

    &::after {
        content: "";
        background: linear-gradient(to bottom, rgba(0, 0, 0, .8) 0%, rgba(0, 0, 0, .8) 40%, rgba(0, 0, 0, 0) 100%);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;

    }

    h1 {
        letter-spacing: .3rem;
        font-size: 2rem;
        font-weight: bold;

        @include media-breakpoint-up(sm) {
            font-size: 2.5rem;
        }

        @include media-breakpoint-up(md) {
            font-size: 3rem;
        }

        @include media-breakpoint-up(lg) {
            font-size: 3.9rem;
        }

        @include media-breakpoint-up(xl) {
            font-size: 4.7rem;
        }

    }

    [class^="header-icon"] {
        &::before {
            content: "";
            display: inline-block;
            width: 2rem;
            height: 2rem;
            -webkit-mask-size: cover;
            mask-size: cover;
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
            margin-right: .5rem;
            background: theme-color("primary");
        }
    }

    .header-icon {
        &__1 {
            &::before {
                -webkit-mask-image: url(../images/time.svg);
                mask-image: url(../images/time.svg);

            }
        }

        &__2 {
            &::before {
                -webkit-mask-image: url(../images/headphones.svg);
                mask-image: url(../images/time.svg);
                width: 2.35rem; //El icono es n poco mas ancho
            }
        }

        &__3 {
            &::before {
                -webkit-mask-image: url(../images/ticket.svg);
                mask-image: url(../images/time.svg);
            }
        }
    }
}


#headerNavbarContent {
    @include media-breakpoint-down(md) {
        background-color: rgba(0, 0, 0, .3);
        margin-top: 2rem;
        border-radius: 10px;
    }
}