@import "./bootstrap-required";
@import "./bootstrap-variables-cust";
@import "./bootstrap-functions-cust";

@import "./header";
@import "./_section-presentaciones";

.pt-128 {
    padding-top: 128px;
}

.pt-96 {
    padding-top: 96px;
}

.pt-64 {
    padding-top: 64px;
}