header#header
    .container.pt-96
        .row
            nav.navbar.navbar-expand-lg.navbar-dark.w-100
                a.navbar-brand(href="#")
                    img(src="assets/images/logoWPFestival.svg")

                .collapse.navbar-collapse#navbarContent
                    ul.navbar-nav.ml-auto
                        li.nav-item.active
                            a.nav-link(href="#") WP FESTIVAL
                        li.nav-item
                            a.nav-link(href="#") DJ'S
                        li.nav-item
                            a.nav-link(href="#") PRESENTACIONES
                        li.nav-item
                            a.nav-link(href="#") BLOG
                        li.nav-item
                            a.nav-link(href="#") CONTACTO
        .row
            .col-12.bg-dark Hola mundo
